.cart-main-div {
    margin: 0% 5% 0% 5%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid;
    margin: 19px;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    margin: 12px;
}

.img1 {
    width: 90px;
    object-fit: cover;
    border-radius: 9px;
}

.btn {
    border: none;
    border-radius: 6px;
    background: cornsil;
    width: 100px;
    padding: 12px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid;
    }

    .img1 {
        width: 70%;
        object-fit: cover;
        border-radius: 9px;
        margin-top: 17px;
    }

    .counter {
        margin: 12px;
        display: flex;
    }
}