/* .count {
    display: flex;
}

.m {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    background: cadetblue;
    border: none;
    border-radius: 40%;
    color: white; */
/* font-size: 24px;
}

.m1 {
    margin: 5px 5px 24px 5px;
} */
.count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m {
    padding: 6px;
    border-radius: 14%;
    margin: 6px;
    border: 1px solid;
    background: cornsilk;
    width: 30px;
}