 .img1 {
     width: 90px;
     object-fit: cover;
     border-radius: 9px;
 }

 .div1 {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .div {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .btn1 {
     border: none;
     border-radius: 6px;
     background: cadetblue;
     width: 100px;
     padding: 12px;
     margin: 10px;
 }