.a1 {
    text-decoration: none;
    color: black;
}

.cart {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: cadetblue;
}

.form1 {
    height: 37px;
}