.Header {
    margin: 0% 5% 0% 5%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.Header-rs {
    display: none;
}

.a1 {
    text-decoration: none;
    color: black;
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

.search-section {
    display: flex;
    justify-content: end;
    align-items: center;
}

.input {
    height: 32px;
}

.cart-icon {
    font-size: 24px;
    background: cadetblue;
    padding: 14px;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .Header {
        display: none;
    }

    .Header-rs {
        margin: 0% 2% 0% 2%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .menu1 {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}