.pagination-btn {
    background: cornsilk;
    padding: 6px;
    margin: 0px 6px 0px 0px;
    border-radius: 7px;
    border: 1px solid;
    width: 80px;
}

.pagination-btn1 {
    background: cornsilk;
    padding: 6px;
    margin: 0px 0px 0px 6px;
    border-radius: 7px;
    border: 1px solid;
    width: 80px;
}