.pagination-btn {
    width: 100px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid;
    background: cadetblue;
    color: white;
    margin: 0px 5px 0px 0px
}

.pagination-btn1 {
    width: 100px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid;
    background: cadetblue;
    color: white;
    margin: 0px 0px 0px 5px;
}

.link1 {
    color: cadetblue;
    text-decoration: none;
}