/* section2 */
.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0% 5% 0% 5%;
}

.pagi {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sub-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.limit {
    display: flex;
    justify-content: end;
    align-items: center;
}

.select {
    width: 50px;
}

@media (max-width:556px) {
    .section2 {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0% 5% 0% 5%;
    }

    .pagi {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-section2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        order: -1;
    }
}