  .image {
      display: grid;
      grid-template-columns: auto auto;
  }

  .current1 {
      border: 3px solid white;
      border-radius: 7px;
      height: 39px;
      width: 50%;
      object-fit: cover;
  }

  .current {
      border: 3px solid blue;
      border-radius: 7px;
      height: 39px;
      width: 50%;
      object-fit: cover;
  }

  .products-img {
      width: 90%;
      border-radius: 20px;
      margin: 0px 12px;
  }

  @media (max-width: 425px) {
      .image {
          display: grid;
          grid-template-columns: auto;
      }

      .product-img-box {
          order: -1;
      }

      .imges1 {
          display: flex;
      }

      .current {
          border: 3px solid blue;
          border-radius: 7px;
          height: 39px;
          width: 80%;
          object-fit: cover;
      }

      .current1 {
          border: 3px solid white;
          border-radius: 7px;
          height: 39px;
          width: 80%;
          object-fit: cover;
      }
  }