/* .container1 {
    display: flex;
    align-items: center;
    height: 10vh;
}

.sign {
    font-size: 2rem;
    opacity: 0;
    margin: 12px;
    color: green;
}

.button {
    border: none;
    border-radius: 6px;
    background: bisque;
    width: 100px;
    padding: 12px;
}

.animate {
    animation: fadeIn 1s ease forwards;
}

.box {
    border: 2px solid blue;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .text {
        text-align: center;
    }

    .container1 {
        display: flex;
        align-items: center;
        height: 10vh;
        justify-content: center;
        margin: 4% 0% 0% 6%;
    }
} */