.products-Sub-img {
    width: 60px;
}

.current1 {
    border: 3px solid white;
    border-radius: 7px;
    height: 39px;
    width: 65px;
    object-fit: cover;
}

.current {
    border: 3px solid blue;
    border-radius: 7px;
    height: 39px;
    width: 65px;
    object-fit: cover;
}

.products-img {
    width: 90%;
    border-radius: 20px;
    margin: 0px 12px;
}

.image {
    display: grid;
    grid-template-columns: auto auto;
}